In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df= pd.read_csv('D:/Capstone/dataset/database/messages.csv')
df1= pd.read_csv('D:/Capstone/dataset/topic_matrix_final.csv')

In [3]:
df= df.merge(df1, on ='Unnamed: 0')
#infer date
df['date'] = pd.to_datetime(df['date'],infer_datetime_format = True)

In [4]:
df.columns

Index(['Unnamed: 0', 'mid', 'from_clean', 'user', 'type', 'subject', 'body',
       'date', 'bcc', 'uuid', 'eid', 'topic_0', 'topic_1', 'topic_2',
       'topic_3', 'topic_4', 'topic_5', 'topic_6', 'pred_topic', 'max_prob',
       'final_topic'],
      dtype='object')

In [5]:
df.drop(columns =['Unnamed: 0','topic_0', 'topic_1', 'topic_2',
       'topic_3', 'topic_4', 'topic_5', 'topic_6', 'pred_topic', 'max_prob'], inplace=True)

In [6]:
#renamed columns
df.columns=['mid','address','user','type','subject','body','date','bcc','uuid','eid','topic']

In [7]:
topic_dict={'topic_0':'office communications',
                'topic_1':'industry expertise',
                'topic_2':'social',
                'topic_3':'operational compliance',
                'topic_4':'trading',
                'topic_5':'legal',
                'topic_6':'spam & html communique',
                'unclassified':'unclassified'
               }

In [8]:
df.head()

,mid,address,user,type,subject,body,date,bcc,uuid,eid,topic
0,221272,phillip.allen@enron.com,allen-p,sent,no subject,Here is our forecast,2001-05-14 16:39:00,None,0,0,topic_1
1,221264,phillip.allen@enron.com,allen-p,sent,no subject,Traveling to have a business meeting takes th...,2001-05-04 13:51:00,None,0,0,topic_4
2,91067,phillip.allen@enron.com,allen-p,sent,test,test successful way to go,2000-10-18 03:00:00,None,0,0,topic_1
3,221137,phillip.allen@enron.com,allen-p,sent,no subject,Randy Can you send me a schedule of the salar...,2000-10-23 06:13:00,None,0,0,unclassified
4,36196,phillip.allen@enron.com,allen-p,sent,Hello,Let's shoot for Tuesday at,2000-08-31 05:07:00,None,0,0,topic_6

In [9]:
topic_list=[]
for i in range(len(df)):
        t= df['topic'][i]
        h = topic_dict.get(t)
        topic_list.append(h)

In [10]:
df['topic_h']=topic_list

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 473749 entries, 0 to 473748
Data columns (total 12 columns):
mid        473749 non-null int64
address    473749 non-null object
user       473749 non-null object
type       473749 non-null object
subject    473749 non-null object
body       473749 non-null object
date       473749 non-null datetime64[ns]
bcc        473749 non-null object
uuid       473749 non-null int64
eid        473749 non-null int64
topic      473749 non-null object
topic_h    473749 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 67.0+ MB

In [12]:
df.to_pickle('D:/Capstone/dataset/database/messages_combined.pkl')
df.to_csv('D:/Capstone/dataset/database/messages_combined.csv')

In [13]:
df.head(2)

,mid,address,user,type,subject,body,date,bcc,uuid,eid,topic,topic_h
0,221272,phillip.allen@enron.com,allen-p,sent,no subject,Here is our forecast,2001-05-14 16:39:00,None,0,0,topic_1,industry expertise
1,221264,phillip.allen@enron.com,allen-p,sent,no subject,Traveling to have a business meeting takes th...,2001-05-04 13:51:00,None,0,0,topic_4,trading

In [14]:
df.shape

(473749, 12)

In [15]:
#drop unclassified rows
df=df[df.topic != 'unclassified']

In [16]:
print(df.shape)
print(144785/473749)

(144785, 12)
0.30561542082410725

In [17]:
df.to_pickle('D:/Capstone/dataset/database/messages_combined_reduced.pkl')
df.to_csv('D:/Capstone/dataset/database/messages_combined_reduced.csv')

In [18]:
len(df)

144785