# Positions within the company

This file was extracted online [here](http://www.inf.ed.ac.uk/teaching/courses/tts/assessed/roles.txt) and had to be cleaned up. there was also a file that contained payment amounts to them, but it was quite strange to use income as a basis for fraud. While i picked up the file, i did not subsequently used it. I did however use the file in the link above. 

In the positions file, we cleaned it a little from 12 positions down to 7. Because there were too few C suites to form any significant group. There was also a lawyer in that list of hundreds of people which was rather meaningless. 

I grouped everyone else as an employee since we are not privy to any other information withough an extensive online search which may not yield results.

As this is a secondary data set, we may not have overlaps with the 500k emails and 150 users. However, this should give us a substantial insight for the overlap of these two datasets.

In [1]:
import numpy as np 
import pandas as pd
import pickle

In [2]:
position = pd.read_csv('D:/Github/DSI8_Alpha/project-capstone/Enron Analysis/Resource/Employeestate.csv')
alias=pd.read_csv('D:/Capstone/dataset/database/N4J/alias.csv')
alias.drop(columns = 'Unnamed: 0',inplace=True)

In [3]:
class StrToBytes:
    def __init__(self, fileobj):
        self.fileobj = fileobj
    def read(self, size):
        return self.fileobj.read(size).encode()
    def readline(self, size=-1):
        return self.fileobj.readline(size).encode()

### Load the dictionary containing the dataset
with open('D:/Github/DSI8_Alpha/project-capstone/Enron Analysis/Resource/final_project_dataset.pkl', 'r') as data_file:
    data_dict = pickle.load(StrToBytes(data_file))

# dict to dataframe
df = pd.DataFrame.from_dict(data_dict, orient='index')
df.replace('NaN', np.nan, inplace = True)

In [4]:
df.drop(columns=[ 'to_messages', 'deferral_payments',
       'loan_advances', 'restricted_stock_deferred',
       'deferred_income', 'total_stock_value', 'expenses',
       'from_poi_to_this_person', 'exercised_stock_options', 'from_messages',
       'other', 'from_this_person_to_poi', 'poi', 'long_term_incentive',
       'shared_receipt_with_poi', 'restricted_stock','director_fees'],inplace=True)

In [5]:
df.dropna(subset=['email_address'],inplace=True)

In [6]:
df=df[np.isfinite(df['salary'])]

In [7]:
df.to_csv('D:/Capstone/dataset/support_files/employee_inc.csv')

In [8]:
alias['alias']=alias['from_clean'].str.extract(r"(.*?)@")
alias.head()

                from_clean        user   eid  uuid          alias
0  phillip.allen@enron.com     allen-p     0     0  phillip.allen
1       k..allen@enron.com     allen-p   120     0       k..allen
2  jeff.dasovich@enron.com  dasovich-j   376     1  jeff.dasovich
3    frank.ermis@enron.com     ermis-f  2872     2    frank.ermis
4   mike.grigsby@enron.com   grigsby-m    56     3   mike.grigsby

In [9]:
position=position.iloc[:,0:4]

In [10]:
position_alias = position.alias.unique().tolist()

print(len(position.alias.unique().tolist()))
print(len(alias.alias.unique().tolist()))
print(len(alias.uuid.unique().tolist()))

180
212
149

In [11]:
position = position.merge(alias, on ='alias')

In [12]:
print(len(position.uuid.unique().tolist()))
print(len(position.alias.unique().tolist()))
print(len(alias.uuid.unique().tolist()))

138
173
149

In [13]:
position.head()

,alias,first_name,last_name,position,from_clean,user,eid,uuid
0,albert.meyers,Albert,Meyers,Employee,albert.meyers@enron.com,meyers-a,2652,86
1,a..martin,Thomas,Martin,Vice President,a..martin@enron.com,martin-t,588,29
2,andrea.ring,Andrea,Ring,Employee,andrea.ring@enron.com,ring-a,1461,79
3,andrew.lewis,Andrew,Lewis,Director,andrew.lewis@enron.com,lewis-a,5452,27
4,andy.zipper,Andy,Zipper,Vice President,andy.zipper@enron.com,zipper-a,145,43

In [14]:
position=position.fillna('Employee')

In [15]:
position.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 8 columns):
alias         175 non-null object
first_name    175 non-null object
last_name     175 non-null object
position      175 non-null object
from_clean    175 non-null object
user          175 non-null object
eid           175 non-null int64
uuid          175 non-null int64
dtypes: int64(2), object(6)
memory usage: 12.3+ KB

In [16]:
position.columns

Index(['alias', 'first_name', 'last_name', 'position', 'from_clean', 'user',
       'eid', 'uuid'],
      dtype='object')

In [17]:
position.columns =(['alias', 'first_name', 'last_name', 'position', 'address', 'user',
       'eid', 'uuid'])

In [18]:
position.position.unique().tolist()

['Employee',
 'Vice President',
 'Director',
 'President',
 'Manager',
 'Trader',
 'CEO',
 'Managing Director',
 'Lawyer',
 'CRO',
 'COO',
 'Managing']

In [19]:
tochange=[ 'CEO', 'CRO', 'COO','Managing Director','Managing']
for i in range(len(position)):
    for c in tochange:
        if position.position[i] == c:
            position.position[i]= 'Csuite' 
tochange=[ 'Lawyer']
for i in range(len(position)):
    for c in tochange:
        if position.position[i] == c:
            position.position[i]= 'Employee'

C:\Anaconda3\envs\Deeplearning2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Anaconda3\envs\Deeplearning2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [24]:
position.to_csv('D:/Capstone/dataset/support_files/employee_pos.csv')